<!--<div class="face-snap-card">
    <h2>{{ title }}</h2>
    <p>Mis en ligne le {{ createdDate }}</p>
    <img [src]="imageUrl" [alt]="title">
    <p>{{ description }}</p>
    <p>
        <button (click)="onSnap()">{{ buttonText }}</button>
        🤌 {{ snaps }}
      </p>
  </div>-->
  <div class="face-snap-card" [ngClass]="{ snapped: buttonText === 'Oops, unSnap!' }">
    <!--<p>{{ 4346234.36 | number: '1.0-0' }}</p>
    <p>{{ 4346234.36 | number: '1.0-1' }}</p>
    <p>{{ 0.336 | percent: '1.0-0' }}</p>
    <p>{{ 0.336 | percent: '1.0-1' }}</p>
    <p>{{ 344.36 | currency }}</p>
    <p>{{ 344.36 | currency: 'EUR' }}</p>
    <p>{{ 344.36 | currency: 'EUR' : 'code' }}</p>-->
    <h2>{{ faceSnap.title | uppercase }}</h2>
    <!--<p>Mis en ligne le {{ faceSnap.createdDate | date: 'longDate' }}</p>
    <p>Mis en ligne le {{ faceSnap.createdDate | date: 'dd/MM/yy, à HH:mm' }}</p>
    <p>Mis en ligne {{ faceSnap.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>-->
    <p>{{ faceSnap.description }}</p>
    <button (click)="onViewFaceSnap()">VIEW</button>
  </div>